{% extends 'base.html' %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">图书信息管理系统</h1>
            <!-- 面板开始 -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">书籍管理</h3>
                </div>
                <div class="panel-body">

                    <!--表格 工具栏 开始-->
                    <div class="row table-toolbar">
                        <div class="col-md-3 col-sm-6">
                            <form action="/book/search/">
                                <div class="form-group">
                                    <input name="q" type="text" class="form-control" id="q" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-search" type="submit">Go!</button>
                                    </span>
                                </div>

                            </form>

                        </div>

                        <div class="col-md-3 col-sm-6 pull-right add-btn">
                            <a href="/book/add/" class="btn btn-info pull-right">新增书籍</a>
                        </div>

                    </div>
                    <!--表格 工具栏 结束-->

                    <!--表格  开始-->
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr><th>序号</th>
                                <th>书籍ID</th>
                                <th>名称</th>
                                <th>作者</th>
                                <th>出版社</th>
                                <th>图书分类</th>
                                <th>定价</th>
                                <th>购买价格</th>
                                <th>出版日期</th>
                                <th>封面图片</th>
                                <th>页数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for book in page.object_list %}
                             <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ book.id }}</td>
                                <td>{{ book.title }}</td>
                                <td>
                                    {% for author in book.authors.all %}
                                        <span>{{ author.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>{{ book.publisher.name }}</td>
                                <td>{{ book.category.category }}</td>

                                <td>{{ book.price }}</td>
                                <td>{{ book.buy_price }}</td>
                                <td>{{ book.publishDate|date:'Y-m-d' }}</td>
                                <td>{{ book.image_img }}</td>

                                <td>{{ book.pages }}</td>
                                <td class="text-center">
                                        <a class="btn btn-info btn-sm" href="/book/edit/?id={{ book.id }}"><i
                                                class="fa fa-pencil fa-fw"
                                                aria-hidden="true"></i>编辑</a>
                                        <a class="btn btn-danger btn-sm" href="/book/del/?id={{ book.id }}"><i
                                                class="fa fa-trash-o fa-fw"
                                                aria-hidden="true"></i>删除
                                        </a>
                                </td>

                            </tr>
                          {% endfor %}
                         </tbody>
                    </table>
                    <!--表格  结束-->

                    <!--分页 开始-->
                   {% include 'pages.html' %}
                     <!--分页 结束-->
                </div>
            <!-- 面板 结束-->
            </div>

    </div>
{% endblock %}

