<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar collapse" id="my-menu">
            <div class="my-menu-item" data-target="#menu-son1" data-toggle="collapse"><a>按图书分类</a></div>
            <ul class="nav nav-sidebar " id="menu-son1">

            </ul>
            <div class="my-menu-item" href="#menu-son2" data-toggle="collapse"><a>按出版社</a></div>
            <ul class="nav nav-sidebar collapse" id="menu-son2">


            </ul>
            <div class="my-menu-item" href="#menu-son3" data-toggle="collapse"><a>按作者</a></div>
            <ul class="nav nav-sidebar collapse" id="menu-son3">


            </ul>

            	<ul class="list-group list-group-flush">
				<li class="list-group-item"><h5>Category</h5></li>



			</ul>

			</ul>

        </div>

