<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
							<h6>登录</h6>
							<form class="content-wrap" role="form" action="/login/" method="post">
								{% csrf_token %}
			                <input class="form-control" name="email" type="text" placeholder="E-mail">
			                <input class="form-control" name="password" type="password" placeholder="Password">
								<div class="action">
									<button type="submit" class="btn btn-primary">登录</button>
								</div>
							</form>
			        </div>
			        <div class="already">
			            <p>没有账户?</p>
			            <a href="/register">注册</a>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>