<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="#">主页</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/book/list/">图书查询 <span class="sr-only">(current)</span></a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/pub/list/">出版社查询</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/author/list/">作者查询</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/xadmin/">Xadmin</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          后台管理
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" target="_blank" href="/xadmin/">Xadmin</a>
          <a class="dropdown-item" target="_blank" href="/admin/">后台管理</a>
          <a class="dropdown-item" href="/">主页</a>
        </div>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-expanded="false">
          参考资源
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" target="_blank" href="https://v5.bootcss.com/">Bootstrap V5</a>
          <a class="dropdown-item" target="_blank" href="https://v3.bootcss.com/">Bootstrap V3</a>
          <a class="dropdown-item" target="_blank" href="https://fontawesome.dashgame.com/">fontawesome</a>
        </div>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
