<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			            <form class="content-wrap" role="form" action="/register/" method="post">
			                <h6>注册</h6>
								{% csrf_token %}
			                <input class="form-control" name="username" type="text" placeholder="Username">
			                <input class="form-control" name="email" type="text" placeholder="E-mail address">
			                <input class="form-control" name="password" type="password" placeholder="Password">
			                <input class="form-control" name="mobile" type="text" placeholder="Mobile">
<!--			                <input class="form-control" type="password" placeholder="Confirm Password">-->
								<div class="action">
									<button type="submit" class="btn btn-primary">注册</button>
								</div>
							</form>
			        <div class="already">
			            <p>已有账户?</p>
			            <a href="/login">登录</a>
			        </div>
					</div>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>